Record_a	GBK_a	Record_Type_a	Record_Number_a	ORF_coords_a	Record_b	GBK_b	Record_Type_b	Record_Number_b	ORF_coords_b	distance	jaccard	adjacency	dss	weights	alignment_mode	extend_strategy
Mada_85_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada_85_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	Mada106_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada106_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	0.05	0.96	0.89	0.95	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada_85_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:19	Mada106_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada106_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:19	0.00	1.00	1.00	1.00	mix	GLOCAL	LEGACY
