Record_a	GBK_a	Record_Type_a	Record_Number_a	ORF_coords_a	Record_b	GBK_b	Record_Type_b	Record_Number_b	ORF_coords_b	distance	jaccard	adjacency	dss	weights	alignment_mode	extend_strategy
Pseudo_gnlDSMZunitig_0quiver_consensus.region008.gbk_region_8	Pseudo_gnlDSMZunitig_0quiver_consensus.region008	region	8	0:4	Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	2:11	0.92	0.17	0.09	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region008.gbk_region_8	Pseudo_gnlDSMZunitig_0quiver_consensus.region008	region	8	0:4	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	8:16	0.92	0.17	0.08	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region019.gbk_region_19	Pseudo_gnlDSMZunitig_0quiver_consensus.region019	region	19	0:16	Pseudo_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Pseudo_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:11	0.98	0.06	0.03	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region019.gbk_region_19	Pseudo_gnlDSMZunitig_0quiver_consensus.region019	region	19	0:16	Mada106_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada106_gnlDSMZunitig_0quiver_consensus.region007	region	7	12:13	0.97	0.08	0.04	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region019.gbk_region_19	Pseudo_gnlDSMZunitig_0quiver_consensus.region019	region	19	13:16	Pseudo_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Pseudo_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:4	0.92	0.18	0.10	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region019.gbk_region_19	Pseudo_gnlDSMZunitig_0quiver_consensus.region019	region	19	0:16	Mada_85_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada_85_gnlDSMZunitig_0quiver_consensus.region007	region	7	12:13	0.97	0.08	0.04	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	0.98	0.05	0.02	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	1:20	Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	20:38	0.97	0.07	0.04	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:21	Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	0:52	0.88	0.07	0.06	0.13	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	1:21	Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	15:45	0.90	0.11	0.10	0.09	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	0.93	0.14	0.15	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	0.99	0.05	0.02	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.06	0.03	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	0:41	0.92	0.07	0.08	0.08	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region010.gbk_region_10	Pseudo_gnlDSMZunitig_0quiver_consensus.region010	region	10	19:20	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.06	0.03	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:39	Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	0:21	0.99	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	0:52	0.98	0.06	0.01	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:39	Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:16	0.99	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:17	Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	0:41	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	0.01	1.00	1.00	0.99	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:17	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	22:23	0.98	0.05	0.02	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada106_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:17	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada_85_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	Mada_85_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada_85_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:10	0.98	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada_85_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	Mada106_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada106_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:10	0.98	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada_85_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	Pseudo_gnlDSMZunitig_0quiver_consensus.region018.gbk_region_18	Pseudo_gnlDSMZunitig_0quiver_consensus.region018	region	18	10:16	0.98	0.06	0.00	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada_85_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	Mada106_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada106_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:25	0.05	0.96	0.89	0.95	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Pseudo_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:11	Mada106_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada106_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:22	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Pseudo_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:2	Pseudo_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Pseudo_gnlDSMZunitig_0quiver_consensus.region005	region	5	3:11	0.94	0.15	0.08	0.04	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Pseudo_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:11	Mada_85_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada_85_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:22	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Pseudo_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:6	Pseudo_gnlDSMZunitig_0quiver_consensus.region021.gbk_region_21	Pseudo_gnlDSMZunitig_0quiver_consensus.region021	region	21	3:9	0.92	0.18	0.09	0.06	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:4	Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	8:12	0.97	0.10	0.00	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:11	Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	20:21	0.98	0.07	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:4	Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	8:12	0.97	0.10	0.00	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:2	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	6:11	0.95	0.14	0.00	0.03	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:11	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	8:9	0.94	0.14	0.07	0.04	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region015.gbk_region_15	Pseudo_gnlDSMZunitig_0quiver_consensus.region015	region	15	0:11	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	20:21	0.98	0.07	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	20:38	Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	0:20	0.95	0.14	0.04	0.03	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	0:38	Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	17:18	0.97	0.06	0.04	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	18:21	Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	0.96	0.10	0.06	0.03	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	0:21	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:39	0.99	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	18:19	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.99	0.03	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	0:38	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	18:19	0.97	0.06	0.04	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region017.gbk_region_17	Pseudo_gnlDSMZunitig_0quiver_consensus.region017	region	17	18:19	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.99	0.03	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region012.gbk_region_12	Pseudo_gnlDSMZunitig_0quiver_consensus.region012	region	12	0:18	Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region012.gbk_region_12	Pseudo_gnlDSMZunitig_0quiver_consensus.region012	region	12	0:18	Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.99	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region012.gbk_region_12	Pseudo_gnlDSMZunitig_0quiver_consensus.region012	region	12	0:18	Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region012.gbk_region_12	Pseudo_gnlDSMZunitig_0quiver_consensus.region012	region	12	0:18	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region012.gbk_region_12	Pseudo_gnlDSMZunitig_0quiver_consensus.region012	region	12	0:18	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.99	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada106_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:22	Mada_85_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Mada_85_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:22	0.01	1.00	1.00	0.98	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.98	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	0.00	1.00	1.00	0.99	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Pseudo_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:12	0.97	0.09	0.00	0.02	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.95	0.14	0.00	0.03	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	1:16	0.98	0.07	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada106_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.98	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	30:31	Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:45	0.92	0.11	0.10	0.07	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	30:32	Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	0:41	0.93	0.13	0.11	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	0:52	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	0.98	0.06	0.01	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	0:52	Pseudo_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Pseudo_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:20	0.98	0.05	0.01	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	30:31	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.98	0.06	0.00	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	30:32	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	0:41	0.90	0.07	0.08	0.11	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region013.gbk_region_13	Pseudo_gnlDSMZunitig_0quiver_consensus.region013	region	13	30:31	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.98	0.06	0.00	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	22:23	Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	0.93	0.14	0.15	0.05	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:16	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:39	0.99	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	25:26	Pseudo_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Pseudo_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:20	0.99	0.04	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	22:23	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.06	0.03	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	0:19	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	18:41	0.93	0.11	0.09	0.06	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region007.gbk_region_7	Pseudo_gnlDSMZunitig_0quiver_consensus.region007	region	7	22:23	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.06	0.03	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	22:23	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	Pseudo_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Pseudo_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:20	0.98	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:21	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	13:27	0.97	0.07	0.03	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:42	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	18:19	0.92	0.14	0.14	0.06	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region011.gbk_region_11	Pseudo_gnlDSMZunitig_0quiver_consensus.region011	region	11	1:21	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	13:27	0.97	0.07	0.03	0.02	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada_85_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:19	Mada106_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada106_gnlDSMZunitig_0quiver_consensus.region004	region	4	0:19	0.00	1.00	1.00	1.00	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada_85_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:10	Pseudo_gnlDSMZunitig_0quiver_consensus.region018.gbk_region_18	Pseudo_gnlDSMZunitig_0quiver_consensus.region018	region	18	0:16	0.98	0.05	0.00	0.02	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada_85_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:19	Mada106_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada106_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.98	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada106_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:10	Pseudo_gnlDSMZunitig_0quiver_consensus.region018.gbk_region_18	Pseudo_gnlDSMZunitig_0quiver_consensus.region018	region	18	0:16	0.98	0.05	0.00	0.02	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region004.gbk_region_4	Mada106_gnlDSMZunitig_0quiver_consensus.region004	region	4	9:19	Mada106_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada106_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.98	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	0.98	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	24:28	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	0:6	0.94	0.18	0.09	0.02	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada106_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.02	1.00	1.00	0.97	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:17	Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	0:39	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	22:23	0.98	0.05	0.02	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Mada_85_gnlDSMZunitig_0quiver_consensus.region002	region	2	16:17	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.07	0.03	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Pseudo_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:12	0.97	0.09	0.00	0.02	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.95	0.14	0.00	0.03	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	1:16	0.98	0.07	0.00	0.01	mix	GLOCAL	LEGACY
Mada_85_gnlDSMZunitig_0quiver_consensus.region005.gbk_region_5	Mada_85_gnlDSMZunitig_0quiver_consensus.region005	region	5	0:12	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.98	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region018.gbk_region_18	Pseudo_gnlDSMZunitig_0quiver_consensus.region018	region	18	0:16	Mada106_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Mada106_gnlDSMZunitig_0quiver_consensus.region006	region	6	10:11	0.98	0.05	0.00	0.01	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	18:19	0.97	0.06	0.03	0.02	mix	GLOCAL	LEGACY
Mada106_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada106_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.01	1.00	1.00	0.98	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Pseudo_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	0.99	0.04	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Pseudo_gnlDSMZunitig_0quiver_consensus.region001	region	1	9:12	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	1:6	0.97	0.08	0.00	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region002.gbk_region_2	Pseudo_gnlDSMZunitig_0quiver_consensus.region002	region	2	18:42	Pseudo_gnlDSMZunitig_0quiver_consensus.region020.gbk_region_20	Pseudo_gnlDSMZunitig_0quiver_consensus.region020	region	20	1:21	0.95	0.12	0.03	0.04	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	1:16	0.99	0.03	0.00	0.01	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region006.gbk_region_6	Pseudo_gnlDSMZunitig_0quiver_consensus.region006	region	6	0:11	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	1:28	0.99	0.03	0.00	0.00	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region014.gbk_region_14	Pseudo_gnlDSMZunitig_0quiver_consensus.region014	region	14	22:23	Mada_85_gnlDSMZunitig_0quiver_consensus.region003.gbk_region_3	Mada_85_gnlDSMZunitig_0quiver_consensus.region003	region	3	0:27	0.97	0.06	0.03	0.02	mix	GLOCAL	LEGACY
Pseudo_gnlDSMZunitig_0quiver_consensus.region009.gbk_region_9	Pseudo_gnlDSMZunitig_0quiver_consensus.region009	region	9	10:16	Mada_85_gnlDSMZunitig_0quiver_consensus.region001.gbk_region_1	Mada_85_gnlDSMZunitig_0quiver_consensus.region001	region	1	0:4	0.94	0.18	0.09	0.02	mix	GLOCAL	LEGACY
